<!-- 页尾 -->
<footer id="footer" class="footer">
	<ul class="layout_menu ">
		<li><a class="buy" href="/">购物</a></li>
		<li><a class="search" href="/search">搜索</a></li>
		<li><a class="cart" href="/user/cart">购物车</a></li>
		<li><a class="usercenter" href="/user/favor">个人中心</a></li>
	</ul>
</footer>